body {
        margin-right: 250px;
        margin-left: 250px; 
        background-repeat: no-repeat;
    

    }

    h1 {
        padding: 10px;
        font-size: 40px;
        color: white;
        font-family: 'Marcellus', serif;
        margin: 70px 0 0 0;
    }

    span {
        color: deepskyblue;
        font-size: 55px;
        font-family: 'Mr Bedfort', serif;
        margin-bottom: 0px;       
    }


    h2 {
        font-size: 28px;
        color: deepskyblue;
    }

    h3 {
        font-size: 28px;
        color: deepskyblue;
    }

    .s1 {
        color: white;
        letter-spacing: 6px;
    }

    .s2 {
        background: orangered;
        border-radius: 5px;
        border-right: 5px;
    }

    .s3_container {
        background: deepskyblue;
        height: 28px;
        width: 80%;
    }

    .s4_container {
        background: deepskyblue;
        height: 28px;
        width: 90%;
    }

    .s5_container {
        background: deepskyblue;
        height: 28px;
        width: 60%;
    }
    
     .s6_container {
        background: deepskyblue;
        height: 28px;
        width: 40%;
    }

     .s7_container {
        background: deepskyblue;
        height: 28px;
        width: 30%;
}


    h5 {
        color: white;
        margin-top: 0px;
        font-size: 20px;
    }

    p {
        color: white;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
    }

    img{
        width:200px;
        height: 190px;
        margin: 0 auto;
        position: center;
        padding-top: 2px;
    }

    article {
        margin-top: 140px;
    }

    a {
        text-decoration: none;
        color: deepskyblue; 
    }

    a:hover {
        color: orangered;
    }

    
    
























